# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Environment variables
.env

# Production build
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.swp

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz
